.premiumPlans {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.basicPlans {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.standardPlans {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

h5 {
  color: grey;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffff;
  background-color: #e50914;
  font-weight: 600;
  border: nnone;
  cursor: pointer;
}

button:hover {
  padding-bottom: 11px;
}